@function getRemSize($sizePx) {
    @return ($sizePx / 16px) * 1rem;
}
.onMobil {
    @media (orientation: landscape) {
        .div-main {
            max-height: 100vw;
        }
    }
    @media (orientation: portrait) {
        .div-main {
            max-height: 100vh;
        }
    }

    @media (orientation: landscape) {
        .absolutedialog_popout,
        .absolutedialog_popout .flex-column,
        .absolutedialog,
        .absolutedialog .flex-column,
        .zmayor,
        .absolutedialog_reqBox,
        .absolutedialog_reqBox .flex-column {
            min-width: fit-content !important;

            width: fit-content !important;
            max-width: 100vh;
        }
        .flex-column-entregas {
            margin: 0 4px;
            padding: 3px !important;

            width: 100vh !important;
            max-width: 100vh;
        }
        .flex-column-entregas .container-bio {
            width: calc(100vw - 20px) !important;
            max-width: calc(100vw - 20px) 100vw;
            min-height: calc(100vh - getRemSize(120px)) !important;
            height: calc(100vh - getRemSize(120px)) !important;
            max-height: calc(100vh - getRemSize(120px)) !important;
        }
    }
    @media (orientation: portrait) {
        .absolutedialog_popout,
        .absolutedialog_popout .flex-column,
        .absolutedialog,
        .absolutedialog .flex-column,
        .zmayor,
        .absolutedialog_reqBox,
        .absolutedialog_reqBox .flex-column {
            min-width: fit-content !important;

            width: fit-content !important;
            max-width: 100vw;
        }
        .flex-column-entregas {
            width: 100vw !important;
            max-width: 100vw;
        }
        .flex-column-entregas {
            width: calc(100vw - 20px) !important;
            max-width: calc(100vw - 20px);
            min-height: calc(100vh - getRemSize(260px)) !important;
            height: calc(100vw - getRemSize(260px)) !important;
            max-height: calc(100vw - getRemSize(260px)) !important;
        }
        .container-bio {
            max-width: getRemSize(600px) !important ;
        }
    }
    .flex-p-between {
        margin: 3px 0;
    }
    h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 25px;
    }
}
@import "barraNav/logo", "barraNav/info", "barraNav/language", "homePage/index", "commons/input", "sideNav/nav";
