@function getRemSize($sizePx) {
    @return ($sizePx / 16px) * 1rem;
}
.div-main {
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.div-page {
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    width: 100vw;
    min-height: calc(100vh - getRemSize(60px));
    height: 100%;
    display: flex;
}
.absolutedialog {
    z-index: 1000;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.58);

    .service-list,
    .flex-row {
        z-index: 1500;
    }
    .service-list {
        background-color: black;
        .small {
            min-width: getRemSize(37px) !important;
            width: getRemSize(37px) !important;
            max-width: getRemSize(37px) !important;
        }
        .medium {
            text-align: center;
            min-width: getRemSize(110px) !important;
            width: getRemSize(110px) !important;
            max-width: getRemSize(110px) !important;
        }
        .big {
            text-align: center;
            min-width: getRemSize(145px) !important;
            width: getRemSize(145px) !important;
            max-width: getRemSize(145px) !important;
        }
    }
}
.row-space {
    display: flex;
    width: 100%;
    max-width: calc(7 * getRemSize(100px)) !important;

    justify-content: space-between;
    align-items: center;
    span {
        border: 1px solid white;
        padding: getRemSize(3px) getRemSize(4px);
        border-radius: 14px;
        cursor: pointer;
    }
    span:hover {
        transform: scale(1.2);
    }
}
.center {
    background-color: rgba(0, 0, 0, 0.58);

    justify-content: center;
    align-items: center;
}
.absolutedialog_popout {
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    height: getRemSize(309.9px);
    width: getRemSize(542px);
    border-radius: 18px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    background-color: rgb(12, 39, 39);
    position: fixed;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: getRemSize(25px);
    text-align: center;
    font-weight: 900;
    padding: getRemSize(20px);
}
.absolutedialog_reqBox {
    z-index: 12500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    border-radius: 18px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    background-color: rgb(12, 39, 39);
    position: fixed;
    color: #fff;
    font-weight: getRemSize(25px);
    text-align: center;
    font-weight: 900;
}
.app-container {
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - getRemSize(60px));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(33, 31, 31);
}
.app-cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: getRemSize(20px);
    height: calc(100vh - getRemSize(60px));
    width: 100%;
    max-width: 100vw;
    flex-wrap: wrap;
}
.app-cardView {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vw;
    min-width: 15vw;
    border-radius: 18px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    background-color: #fff;
    color: black;
}
.app-cardView:hover {
    transition: 1000;
    transform: scale(1.1);
    background-color: rgb(204, 202, 198);
    cursor: pointer;
}
.app-sideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: getRemSize(20px);
    height: calc(100vh - getRemSize(60px));
    width: 100%;
    max-width: calc(100vw - getRemSize(210px));
    flex-wrap: wrap;
}
.app-sideContainer-open {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: getRemSize(20px);
    height: calc(100vh - getRemSize(60px));
    max-height: calc(100vh - getRemSize(60px));
    width: 100%;
    max-width: calc(100vw - getRemSize(60px));
    flex-wrap: wrap;
    overflow: auto;
}
.min-height-100 {
    min-height: 100%;
}
.app-smallViews {
    display: flex;
    align-items: center;
    justify-content: center;
    height: getRemSize(45px);
    min-width: getRemSize(45px);
    border-radius: 18px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    background-color: #fff;
    color: black;
    cursor: pointer;
}
.app-smallViews:hover {
    transition: 1000;
    transform: scale(1.1);
    background-color: rgb(204, 202, 198);
    cursor: pointer;
}
.app-smallViews-selected {
    background-color: rgb(17, 137, 25) !important;
    color: rgb(253, 248, 248) !important;
}
.service-list {
    min-height: getRemSize(400px);
    height: 100%;
    max-height: getRemSize(900px);
    border: 1px solid rgb(204, 202, 198);
    border-radius: 14px;
    min-width: getRemSize(450px);
    width: fit-content;
    max-width: calc(100vw - getRemSize(200px));
    white-space: nowrap;
    padding: getRemSize(20px);
    overflow: auto;
    tr,
    p {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(204, 202, 198);
        padding-bottom: getRemSize(5px);
        .p {
            padding-bottom: 0 !important;
            border-bottom: none;
        }
        td,
        th,
        span {
            margin: 0 getRemSize(17px);
        }
    }
}

.app-smallViews-selected:hover {
    transition: 1000;
    transform: scale(1.1);
}
.app-smallViews-open {
    display: flex;
    align-items: center;
    justify-content: center;
    height: getRemSize(45px);
    min-width: getRemSize(150px);
    border-radius: 18px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    background-color: #fff;
    color: black;
}
.app-smallViews-open:hover {
    transition: 1000;
    transform: scale(1.1);
    background-color: rgb(204, 202, 198);
}
.companies-main {
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - getRemSize(60px));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(39, 67, 47);
}
.companies-main,
.companies-selector-container {
    width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - getRemSize(60px));

    height: calc(100vh - getRemSize(60px));
    max-height: calc(100vh - getRemSize(60px));

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(39, 67, 47);
}
.companies-selector-container {
    flex-direction: column;
}
.companies-selector {
    width: 70vw;
    max-width: getRemSize(1000px);
    max-height: calc(100vh - getRemSize(120px));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: getRemSize(20px);
}
.companies-selectorBox {
    text-align: center;
    width: 40%;
    max-width: getRemSize(300px);
    min-height: getRemSize(300px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(0, 7, 2);
    cursor: pointer;
    border: 0.5px solid rgb(217, 255, 231);
    font-weight: 900;
    font-size: 1.3rem;
    border-radius: 14px;
}
.flex-adress {
    padding: 0 getRemSize(15px);
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: none !important;
    border-bottom: 0.5px solid white !important;
    border-left: 0.5px solid white !important;
    outline: none !important;
    opacity: 0.8 !important;
    background-color: transparent !important;
    border-radius: 14px !important;
    min-width: getRemSize(340px);
    max-width: getRemSize(340px);
    width: getRemSize(340px);
}
.flex-selector {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: getRemSize(5px);
    border: none !important;
    border-bottom: 0.5px solid white !important;
    border-left: 0.5px solid white !important;
    outline: none !important;
    opacity: 0.8 !important;
    background-color: transparent !important;
    border-radius: 14px !important;
    select {
        border: none !important;
    }
}
.row-table {
    max-height: calc(100vh - getRemSize(240px)) !important;
    overflow-y: auto;
    padding-top: 20px;
    border: 1px solid black;
    min-height: calc(100vh - getRemSize(240px)) !important;
    height: calc(100vh - getRemSize(240px)) !important;
    table {
        margin-top: 20px;
        min-width: 100% !important;
        position: relative;
        padding: 10px 0;
        max-height: calc(100vh - getRemSize(20px)) !important;
        tr,
        td {
            text-align: center;
            max-height: 20px !important;
            height: 20px !important;
            min-height: 20px !important;
            min-width: 200px !important;
            width: 400px !important;
            max-width: 400px !important;
            padding: 3px 0;
            border: 1px solid black;
        }
        thead {
            th {
                border: 1px;
                border-color: #dcdcdc !important;
                text-align: center;
                max-height: 50px !important;
                height: 50px !important;
                min-height: 50px !important;
                min-width: 200px !important;
                width: 400px !important;
                max-width: 400px !important;
            }
            margin-top: -50px;

            position: fixed;
            /*  top: 10px;
            left: 10px; */
            background-color: #000;
            color: white;
            font-weight: 700;
            z-index: 100;
            text-transform: uppercase;
            th,
            tr {
                border: 1px solid #dcdcdc;
                border-color: #dcdcdc !important;
            }
        }
        tbody {
            padding-top: 20px;
            overflow-y: auto;
            min-width: fit-content !important;

            td {
                max-height: 20px !important;
                height: 20px !important;
                min-height: 20px !important;
                min-width: 200px !important;
                width: 400px !important;
                max-width: 400px !important;
            }
        }
    }
}
.mr-head {
    margin-right: getRemSize(20px) !important;
}
