@function getRemSize($sizePx) {
    @return ($sizePx / 16px) * 1rem;
}
.form-registro {
    display: flex;
    flex-direction: column;
    gap: getRemSize(25px);
    
}
.companies-dataForm-container {
    width: 70vw;
    max-width: getRemSize(1000px);
    height: calc(100vh - getRemSize(150px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(240, 247, 246);
    background-color: rgb(12, 39, 39);
    border-radius: 24px;
    border: 1px solid rgb(18, 24, 21);
    gap: 0.4rem;
}
.form-default {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.personalData-miniSection ,.personalData-miniSection-adress{
    min-height: getRemSize(350px);
    max-width: getRemSize(300px);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: getRemSize(40px);
    border: 0.5px solid white !important;
    font-size: getRemSize(18px) !important;
    border-radius: 14px !important;
    color: beige !important;
    font-weight: 900 !important;
    text-transform: uppercase;
}
.personalData-miniSection-adress{
    min-width: getRemSize(350px);

}
